.gifpreview {
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
}

.gifselected {
  box-shadow: 0 1px 1px 2px #337ab7;
  background-color: #fff;
  position: relative;
}

.gifselected::before,
.gifselected::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.gifselected::before {
    border-width: 1em;
}

.gifselected::after {
    border-width: 0.75em;
    border-right-color: #337ab7;
    border-top-color: #337ab7;
}

.spaceHolder {
  font-size: 24px;
  color: #999;
  margin-top: 50px;
  margin-left: 50px;
}

.giphylogo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pagination_note {
  color: #999;
  font: 70%;
}
